@model StudentAdmissions.UI.Models.WeaknessModels.ListWeaknessesViewModel
 
@{
    ViewData["Title"] = "Weaknesses";

}

<h1>Weaknesses</h1>
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Weakness Name</th>
                    <th>Weakness Description</th>
                    <th>Weakness Type</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var weakness in Model.Weaknesses)
                {
                    <tr>
                        <td>@weakness.WeaknessID</td>
                        <td>@weakness.WeaknessName</td>
                        <td>@weakness.WeaknessDescription</td>
                        <td>@weakness.WeaknessType.WeaknessTypeName</td>
                        <td>
                            <a role="button" class="btn btn-primary btn-sm" asp-action="GetStudentsWithWeakness" asp-controller="Weakness" asp-route-weaknessId="@weakness.WeaknessID">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
