@model StudentAdmissions.UI.Models.StudentWeaknessModels.AddWeaknessToStudentViewModel

@{
    ViewData["Title"] = "Add Weakness - " + @Model.StudentName;
}

<h4>@Model.StudentName</h4>
<h1>Add New Student Weakness</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
        <form asp-controller="StudentWeakness" asp-action="AddStudentWeakness" asp-route-id="@Model.StudentID" method="post">
            <input type="hidden" id="StudentID" asp-for="StudentID"/>
            <div class="mb-3">
                <label asp-for="Weaknesses" class="form-label">Weakness Name</label>
                <select class="form-select" id="WeaknessName" asp-for="WeaknessID">
                    <option selected>Choose Weakness</option>
                    @foreach(var weakness in Model.Weaknesses)
                    {
                        <option value="@weakness.WeaknessID">@weakness.WeaknessName</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label asp-for="RiskLevel" class="form-label">Risk Level</label>
                <input type="text" class="form-control" id="RiskLevel" asp-for="RiskLevel">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" asp-action="GetStudent" asp-controller="Student" asp-route-id="@Model.StudentID">Cancel</a>
        </form>
    </div>
</div>
